<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap type="Board" id="blistResultSet">
		<id column="b_no" property="b_no"/>
		<result column="title" property="title"/>
	</resultMap>

	<select id="selectBoardList" parameterType="Board" resultMap="blistResultSet">
		select * from gal${gal_name}
	</select>
	
	<insert id="writeBoard">
		insert into gal${gal_name} values(seq_gal${gal_name}.nextval,#{title},#{content})
	</insert>
	
	<insert id="makeGallary">
		create table gal${gal_name}(
			b_no number primary key,
			title varchar2(1000),
			content clob
		)
	</insert>
	
	<insert id="makeSequence">
		create sequence seq_gal${gal_name}
	</insert>
	
	<insert id="deleteGallary">
		drop table gal${gal_name}
	</insert>
	
	<insert id="dropSequence">
		drop sequence seq_gal${gal_name}
	</insert>
	
	<select id="existGallary" resultType="_int">
		select count(*) from user_tables where table_name='GAL${gal_name}'
	</select>
	
	<insert id="insertGalList">
		insert into gallist values(seq_gallist.nextval,#{gal_name})
	</insert>
	
	<select id="getGallaryList" resultType="Gallary">
		select * from gallist
	</select>
	
	<delete id="deleteGallaryList">
		delete from gallist where gal_name=#{gal_name}
	</delete>
	
	<select id="getBoard" resultType="Board">
		select * from gal${gal_name} where b_no=#{b_no}
	</select>
	
	<update id="editBoard">
		update gal${gal_name} set title=#{title}, content=#{content} where b_no=#{b_no}
	</update>
</mapper>
