<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap type="Board" id="blistResultSet">
		<id column="b_no" property="b_no"/>
		<result column="title" property="title"/>
	</resultMap>
	
	<resultMap type="Reply" id="rlistResultSet">
		<id column="re_no" property="re_no"/>
		<result column="b_no" property="b_no"/>
		<result column="re_no2" property="re_no2"/>
		<result column="rere" property="rere"/>
		<result column="content" property="content"/>
	</resultMap>

	<select id="selectBoardList" parameterType="Board" resultMap="blistResultSet">
		select * from gal${gal_name}
	</select>
	
	<insert id="writeBoard">
		insert into gal${gal_name} values(seq_gal${gal_name}.nextval,#{title},#{content})
	</insert>
	
	<insert id="makeGallary">
		create table gal${gal_name}(
			b_no number primary key,
			title varchar2(1000),
			content clob
		)
	</insert>
	<insert id="makeSequence">
		create sequence seq_gal${gal_name}
	</insert>
	<insert id="makeGallaryReply">
		create table regal${gal_name}(
			re_no number primary key,
			b_no number,
			re_no2 number,
			rere number,
    		content clob,
    		status varchar2(10)
		)
	</insert>
	<insert id="makeSequenceReply">
		create sequence seq_regal${gal_name}
	</insert>
	
	
	<insert id="deleteGallary">
		drop table gal${gal_name}
	</insert>
	<insert id="dropSequence">
		drop sequence seq_gal${gal_name}
	</insert>
	<insert id="dropGallaryReply">
		drop table regal${gal_name}
	</insert>
	<insert id="dropSequenceReply">
		drop sequence seq_regal${gal_name}
	</insert>
	
	
	<select id="existGallary" resultType="_int">
		select count(*) from user_tables where table_name='GAL${gal_name}'
	</select>
	
	<insert id="insertGalList">
		insert into gallist values(seq_gallist.nextval,#{gal_name})
	</insert>
	
	<select id="getGallaryList" resultType="Gallary">
		select * from gallist
	</select>
	
	<delete id="deleteGallaryList">
		delete from gallist where gal_name=#{gal_name}
	</delete>
	
	<select id="getBoard" resultType="Board">
		select * from gal${gal_name} where b_no=#{b_no}
	</select>
	
	<update id="editBoard">
		update gal${gal_name} set title=#{title}, content=#{content} where b_no=#{b_no}
	</update>
	
	<!-- reply -->
	<insert id="writeReply">
		insert into regal${gal_name} values(seq_regal${gal_name}.nextval,#{b_no},seq_regal${gal_name}.currval,0,#{content},'Y')
	</insert>
	
	<select id="getReplyList" parameterType="Board" resultMap="rlistResultSet">
		select * from regal${gal_name} order by re_no2,re_no
	</select>
	
	<select id="getReply" resultType="Reply">
		select * from regal${gal_name} where re_no=#{re_no}
	</select>
	
	<select id="getLastestReply" resultType="Reply">
		select * from (select * from regal${gal_name} order by 1 desc) where rownum=1
	</select>
	
	<update id="deleteReply">
		update regal${gal_name} set status='N' where re_no=#{re_no}
	</update>
	
	<insert id="writeReReply">
		insert into regal${gal_name} values(seq_regal${gal_name}.nextval,#{b_no},#{re_no2},1,#{content},'Y')
	</insert>
	
	<delete id="deleteReReply">
		delete from regal${gal_name} where re_no=#{re_no}
	</delete>
</mapper>
